<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="logtime">
            <ion-icon src="assets/update.svg"></ion-icon>
            <ion-label>Log Time</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="wfh">
            <ion-icon src="assets/work.svg"></ion-icon>
            <ion-label>WFH</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="timesheets">
            <ion-icon src="assets/view_list.svg"></ion-icon>
            <ion-label>Timesheets</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="applied_wfh">
            <ion-icon src="assets/next_week.svg"></ion-icon>
            <ion-label>Applied WFH</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>
