<ion-app>

   <ion-menu side="start" menuId="first" contentId="main">

      <ion-header>
         <ion-toolbar color="primary">
            <ion-title><b>A</b>-Net</ion-title>
         </ion-toolbar>
      </ion-header>

      <ion-content>

         <ion-list>
            <ion-item *ngIf="islogin">
               <ion-button (click)="refresh()">
                  <ion-icon src="assets/cached.svg"></ion-icon>
                  &nbsp;&nbsp;Refresh
               </ion-button>
            </ion-item>
            <ion-item *ngIf="islogin">
               <ion-button (click)="signOut()">
                  <ion-icon src="assets/lock_open.svg"></ion-icon>
                  &nbsp;&nbsp;Sign Out
               </ion-button>
            </ion-item>
            <ion-item *ngIf="!islogin">
               <ion-button routerLink="/sign-in">
                  <ion-icon src="assets/lock_open.svg"></ion-icon>
                  &nbsp;&nbsp;Sign In
               </ion-button>
            </ion-item>
         </ion-list>
      </ion-content>
      <ion-footer>
         <ion-list>
            <ion-item>
               <ion-text color="primary" >
                  <h5>Powered by <b>Agira</b>
                     <small class="ion-margin-horizontal"><b>V.0.1 beta 1</b></small>
                  </h5>
               </ion-text>
            </ion-item>
         </ion-list>
      </ion-footer>

   </ion-menu>

   <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>
