.scrollContent {
  max-height: 200px;
  overflow: scroll;
}
.transparent {
  --background: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
}
.content {
  height: 100%;
  width: 100%;
  //background-image: url("../assets/images/3.jpg");
  background-size: cover;
  background-position: center;
}
.list-bottom-shadow {
  box-shadow: 0 -6px 10px inset rgba(0, 0, 0, 0.3);
}
.notes {
  font-size: 14px;
}

.profile{

  border-bottom: 1px solid rgba(0,0,0,.24);
  padding: 0 0 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  place-content: center;
  flex-flow: column;

  img{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin: 12px;
  }
  .labels{
   margin: 0 16px;
   text-align: center;
  }
  h4, h6{
    padding: 0;
    margin: 0;
  }
}
