<ion-content class="ion-padding container">

   <ion-card class="animated zoomIn delay-10s">
      <ion-card-header class="scroll">
         <h4>Sign In</h4>
      </ion-card-header>
      <ion-card-content>

         <form [formGroup]="emailPasswordForm">
            <ion-list>
               <ion-item>
                  <ion-label class="floating" position="floating">Email Address</ion-label>
                  <ion-input type="email" formControlName="email" name="email"></ion-input>
               </ion-item>
               <!-- for displaying the erroe massage -->
               <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.email">
                     <div class="error-message"
                          *ngIf="emailPasswordForm.get('email').hasError(error.type) && (emailPasswordForm.get('email').dirty || emailPasswordForm.get('email').touched)">
                        {{ error.message }}
                     </div>
                  </ng-container>
               </div>
               <!-- for closeing the erro message -->
               <ion-item>
                  <ion-label class="floating" position="floating">Password</ion-label>
                  <ion-input type="password" formControlName="password" name="password"></ion-input>
               </ion-item>
               <!-- for displaying the erroe massage -->
               <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.password">
                     <div class="error-message"
                          *ngIf="emailPasswordForm.get('password').hasError(error.type) && (emailPasswordForm.get('password').dirty || emailPasswordForm.get('password').touched)">
                        {{ error.message }}
                     </div>
                  </ng-container>
               </div>
               <!-- for closeing the erro message -->
            </ion-list>
         </form>

         <div>
            <ion-list class="buttoms">
               <ion-row>
                  <ion-col>
                     <ion-button class="animated zoomInUp delay-1000s" size="default"
                                 [disabled]="!emailPasswordForm.valid"
                                 shape="round" (click)="login()">
                        Submit
                     </ion-button>
                  </ion-col>
               </ion-row>
            </ion-list>
         </div>

      </ion-card-content>
   </ion-card>


</ion-content>
